.MainChat
  .RightHeader 
    .RightHeader__group
      .RightHeader__groupName
        = @group.name
      %ul.RightHeader__memberList 
        Member：
        %li.RightHeader__member
          - @group.users.each do |user|
            = user.name
    = link_to 'Edit', edit_group_path(@group.id), class:'RightHeader__editButton'

  .MessageFierd
    = render @messages
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
        .MessageInfo__date
      .Message
        %p.Message__content

  .Footer
    .Form 
      = form_for [@group, @message] do |f|
        .Form__contents
          = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
          = f.label :image, class: 'Form__inputImage' do
            = icon('fas', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Hidden'
          = f.submit 'Send', class: 'Form__btn'